<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        div.ImageDiv {
            position: relative;
            display: inline-flex;
            width: 315px;
            height: 500px;
            margin: 15.5px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>    
    <title>Rankings Images</title>
</head>
<body>
    <div>
        <h1>Pixiv Rankings Images</h1>
        <div>
            <a href="{{zipFilePath}}" download="sasaki">DOWNLOAD</a>
            </a>
        </div>


        <div>
        {% for imgs in img_list %}
            <div class="ImageDiv">
                <img  src= "{{ imgs.imgURL }}" alt="pixiv artwork id {{ imgs.artworkID }}">
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>
