<html>
<head>
    <style>
        div.ImageDiv {
            position: relative;
            display: inline-flex;
            width: 315px;
            height: 500px;
            margin: 15.5px;
        }

        img.illust {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>    
    <title>User {{pixivID}} Illustrations</title>
</head>

<body>
    <div>
        <h1>Pixiv User {{ pixivID }}</h1>
        <div >
            <form class="dl" action="UserDownload" method="get">
                <input type="submit" value="Download Images">
            </form>
        </div>
        <div>
            {% for imgs in img_list %}
            <div class="ImageDiv">
                <img  class="illust" src= "{{ imgs.imgURL }}" alt="pixiv artwork id {{ imgs.artworkID }}">
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>